<h1>Artists</h1>
<p><%= link_to "Add Artist", new_artist_path %></p>
<%@artists.each do |artist|%>
    <h2> <%= artist.name %> </h2>
    <%= link_to "See #{artist.name} songs.", artist_path(artist)%>
    <%= link_to "Edit #{artist.name}", edit_artist_path(artist)%>
    <%= link_to "Delete #{artist.name}", artist_path(artist), method: :delete %>
<%end%>
