<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<hr />
<%= form_for [@artist, @song] do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name, required: true, autofocus: true %>
 <br />
 <%= f.label :genre %>
 <%= f.text_area :genre, required: true %>
 <br />
 <%= f.label :length %>
 <%= f.text_area :length, required: true %>
 <%= f.submit %>
  <%end%>