<h1><%= "#{@artist.name} Song's"%></h1>
<%= link_to "Create a New Song", new_artist_song_path%>
<% @songs.each do |song|%>
  <h3><%="Name: #{song.name}"%></h3>
  <p><%= "Genre: #{song.genre}" %> </p>
  <p><%= "Length: #{song.length}" %> </p>
  <%= link_to 'Edit Song', edit_artist_song_path(@artist, song) %>
  <%= link_to 'Delete Song', artist_song_path(@artist, song), method: :delete %>
  <%= link_to "Back to all Artists ", artists_path %>
  <%end%>