<h1><%="#{@billboard.name} Hottest Songs!"%></h1>
	<%= link_to 'Back to all Billboard Lists', billboards_path %>
<% if @songs.any? %>
  <% @songs.each do |song| %>
    <p><%= song.name %></p>
     <%= link_to 'Remove From Billboard', remove_billboard_song_path(@billboard, song), method: :delete %>
  <% end %>
<% end %>

<%= link_to 'Add Song', new_billboard_song_path(@billboard) %> |